
###> symfony/framework-bundle ###
/Rubik's Hub/.env.local
/Rubik's Hub/.env.local.php
/Rubik's Hub/.env.*.local
/Rubik's Hub/config/secrets/prod/prod.decrypt.private.php
/Rubik's Hub/public/bundles/
/Rubik's Hub/var/
/Rubik's Hub/vendor/
/Rubik's Hub/migrations/
###< symfony/framework-bundle ###
