
###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
assets/vendor/
public/bundles/
public/uploads/
var/
vendor/
migrations/
###< symfony/framework-bundle ###
