{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}
    {{ parent() }}

    {% block header %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

    {{ importmap(['app', 'admin-pedidos']) }}
{% endblock %}

{% block mid %}
    <main class="flex-grow">
        <div class="flex items-center min-h-[calc(100vh-12rem)]">
            <div id="mid" class="flex flex-column flex-wrap min-h-full h-lvh items-center m-auto">
                <div>
                    <h3 class="mb-4">Haz click en la fila del pedido al que deseas cambiar el estado.</h3>
                    <table class="hidden" id="datatable-pedido">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Estado</th>
                                <th>Usuario</th>
                                <th>Fecha de creación</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="volver-atras" class="hidden w-full text-center">
                    <a class="py-3 px-4 bg-red-600 text-white border-2 border-red-300 rounded-xl" href="{{ path('admin_index') }}">Volver atrás</a>
                </div>
                <div id="editar-modal-pedido-datos" class="flex bg-black/60 hidden fixed overflow-auto top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center">
                    <div class="relative w-full max-w-md px-4 md:h-auto">
                        <div class="bg-white rounded-lg shadow relative dark:bg-gray-700 m-5">
                            <div class="flex justify-end p-2">
                                <button id="cerrar-modal-editar-pedido-datos" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                            </div>
                            <div class="p-3">
                                <div class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8">
                                    <div>
                                        <label for="estadoEditar" class="block uppercase text-sm font-bold mb-3">Estado</label>
                                        <select name="estadoEditar" id="estadoEditar" class="border-0 px-3 py-3 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" required>
                                        </select>
                                    </div>
                                    <div class="text-center mt-6">
                                        <button id="boton-editar-pedido" class="bg-indigo-400 text-white text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden fixed z-10 inset-0" id="exito-modal-pedido">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                            <div class="absolute inset-0 bg-black/60"></div>
                        </div>
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                        <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                            <div>
                                <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-green-600">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                    </svg>
                                </div>
                                <div class="mt-3 text-center sm:mt-5">
                                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">Éxito</h3>
                                    <div class="mt-2">
                                        <p id="mensaje-exito-modal-pedido" class="text-sm text-gray-500">Tu acción se ha ejecutado correctamente</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 sm:mt-6">
                                <button id="cerrar-exito-modal-pedido" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:text-sm">Vale</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden fixed z-10 inset-0 overflow-y-auto" id="error-modal-pedido">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                            <div class="absolute inset-0 bg-black/60"></div>
                        </div>
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                        <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                            <div>
                                <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
                                    <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </div>
                                <div class="mt-3 text-center sm:mt-5">
                                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">Error</h3>
                                    <div class="mt-2">
                                        <p class="text-sm text-gray-500">No existen pedidos o ha ocurrido un error cargando la información.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 sm:mt-6">
                                <button id="cerrar-error-modal-pedido" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm">Vale</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}